/* ===== GRUNDSTIL ===== */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center; /* Text zentrieren */
  margin: 0;
  padding: 0;
}

/* ===== NAVIGATION ===== */
nav {
  background-color: #333;
  padding: 10px; /* Innenabstand */
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

/* ===== ÜBERSCHRIFTEN ===== */
h1,
h2,
h3 {
  margin-top: 20px;
}

/* ===== FORMULARE ===== */
form {
  background-color: white;
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px; /* Runde Ecken */
}

input,
textarea,
button {
  width: 90%;
  padding: 8px;
  margin: 5px 0;
}

/* ===== BUTTON ===== */
button {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer; /* Hand-Cursor */
}

button:hover {
  background-color: #555; /* Effekt beim Drüberfahren */
}

/* ===== TABELLEN ===== */
table {
  margin: 20px auto; /* Abstand + zentrieren */
  border-collapse: collapse; /* Zellen zusammen */
  background-color: white;
}

th,
td {
  padding: 10px; /* Innenabstand */
  border: 1px solid #000;
}

/* ===== CHECKBOX ===== */
input[type="checkbox"] {
  width: auto;
}

a {
  color: black;
}

/* ===== TEXT ===== */
p {
  margin: 10px;
}

/* Button für löschen und bearbeiten sodass es nebeneindander ist  */
.actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.actions form {
  margin: 0;
}

.actions button {
  cursor: pointer;
}
